.game__container {
    /* 일단 임시로 상위 컴포넌트 가로세로 고정 */
    --bg-darkgreen : rgb(0, 30, 10);

    --border-width: min(0.25vw, 0.25vh);

    --title_height: 50px;
    --game_container_padding: min(2vh, 2vw);
    --game_container_width: 96vw;
    --game_container_height: calc(95vh - 2vh);

    /*  */
    margin : 1vh 3vw 1vh 3vw;
    background: var(--bg-darkgreen);
    padding: var(--game_container_padding);
    border: var(--border-width) solid wheat;
    border-radius: var(--game_container_padding);
    width : var(--game_container_width);
    height: var(--game_container_height);
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}