.container__friendlist{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: calc(var(--app__padding)/2);
    gap : 5px;
    overflow-y: scroll;
}

.container__friendlist::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.container__friendlist::-webkit-scrollbar-thumb {
    background: wheat; /* 스크롤바의 색상 */
    height: 40px;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.container__friendlist::-webkit-scrollbar-track {
    background: rgb(148, 134, 109); /* 스크롤바의 색상 */
}

.single_friend{
    box-sizing: border-box;
    width: 100%;
    /* height: 50px; */
    min-height: 50px;
    max-height: 50px;
    max-width: 600px;
    display: flex;
    align-items: center;
    position: relative;

    border: calc(var(--border-width)/2) solid wheat;
    border-radius: var(--app__padding);
    overflow: hidden;
}

.single_friend > img {
    position: absolute;
    left: 0;
    height: 50px;
    object-fit: cover;
    aspect-ratio: 1;
    border: calc(var(--border-width)/2) solid wheat;
}

.single_friend > .cover {
    position: absolute;
    left: 0;
    height: 50px;
    object-fit: cover;
    aspect-ratio: 1;
    background: rgba(0,0,0,0.7);
}

.single_friend > span {
    position: absolute;
    left: 70px;
    height: 50%;
    border-radius: 25px;
}

.single_friend > button {
    position: absolute;
    right: 10px;
    height: 30px;

    border: calc(var(--border-width)/2) solid wheat;
    border-radius: var(--app__padding);
    overflow: hidden;
    background: none;
    color: wheat;
}

.single_friend > button:hover {
    background: wheat;
    color: rgb(2, 31, 13);
}

.single_friend > button:active {
    border: calc(var(--border-width)) solid rgb(148, 134, 109);
    background: rgb(148, 134, 109);
    color: rgb(2, 31, 13);
}
